body{
    text-align: center;
    background-image: url("https://png.pngtree.com/png-clipart/20201223/ourlarge/pngtree-pink-small-fresh-strawberry-background-png-image_2580748.jpg");
}

#logout_button{
    border-color: pink;
    background-color:purple;
    margin-top: 20px;
}
#addroom{
   
    background-color:green;
    margin-right: 570px;
    margin-left: 535px;
}

#user_name{
    background-color: pink;
    width: 500px;
    font-family:serif;
    color:salmon;
}

#coin{
    width: 100px;
    height: 80px;
    margin-top: -57px;
    margin-left: 500px;
    
}

div{
    text-align: center;
}


